<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="styles/screen.css">
</head>
<body>


  {{{body}}}

    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>