<div id="animation-container"></div>
<h1>TARAKAJIAN</h1>

<div class="social">
  <a class="social__twitter" href="https://twitter.com/hellothisiscass">Twitter</a>
  <a class="social__github" href="https://github.com/catarak">Github</a>
  <a class="social__mail" href="mailto:ctarakajian@gmail.com">Email</a>
</div>