<div class="about__firstname" id="animation-container"></div>
<h1 class="about__lastname">TARAKAJIAN</h1>
<p class="about__byline">coder, engineer, artist, musician, self-aware sentient human</p>

<div class="social">
  <a class="social__twitter" href="https://twitter.com/hellothisiscass">Twitter</a>
  <a class="social__github" href="https://github.com/catarak">Github</a>
  <a class="social__mail" href="mailto:ctarakajian@gmail.com">Email</a>
</div>